name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: Run tests on Ruby ${{ matrix.RUBY_VERSION }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        RUBY_VERSION: [2.3, 2.4, 2.5, 2.6, 2.7, 3.3, 3.4]
    env:
      RUBY_VERSION: ${{ matrix.RUBY_VERSION }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      
      - name: Set action cache vars in env
        uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3

      - name: Rubocop
        run: make lint

      - name: Rspec
        run: make test
