name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: Run tests on Ruby ${{ matrix.RUBY_VERSION }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        RUBY_VERSION: [2.6, 2.7, 3.3, 3.4]
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: ${{ matrix.RUBY_VERSION }}
          bundler-cache: true

      - name: Rubocop
        run: bundle exec rake rubocop

      - name: Rspec
        run: bundle exec rspec
