name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: Run tests on Ruby ${{ matrix.RUBY_VERSION }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        RUBY_VERSION: [2.3, 2.4, 2.5, 2.6, 2.7, 3.3, 3.4]
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Rubocop
        run: make lint

      - name: Rspec
        run: make test
